.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App header {
  min-height: 80px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.App > div {
  min-height: 100px;
  background-color: #f4f4f4;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.App footer {
  min-height: 200px;
  background-color: #373737;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.App .content {
  max-width: 1024px;
}
